rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Ücretsiz sürümde Firebase Storage kullanılmıyor.
    allow read, write: if false;
  }
}
